@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.input{
  @apply  border border-gray-300 p-2.5 text-[1rem] rounded-lg m-2 
  focus:border-blue-500 focus:placeholder-gray-300 outline-none w-[97%]
}

button{
  @apply rounded-lg p-2.5 hover:bg-opacity-[0.85] text-white
}

.btn-success{
  @apply rounded-lg bg-success text-white p-2.5
}

.btn-primary{
  @apply rounded-lg bg-primary text-white p-2.5
}

.card {
  @apply border rounded-xl p-5 bg-white shadow-xl m-3
}

.navbar{
  @apply w-screen flex shadow-lg justify-between bg-white p-1.5 fixed top-0 left-0
}
